{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<title>
			{% trans "Eleições" %}
			{% block title_block %}
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %} ">

		<link rel="stylesheet" type="text/css" href="{% static 'components/reset.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/site.css' %} ">

		<link rel="stylesheet" type="text/css" href="{% static 'components/container.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/grid.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/header.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/image.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/menu.css' %} ">

		<link rel="stylesheet" type="text/css" href="{% static 'components/divider.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/list.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/segment.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/dropdown.css' %} ">
		<link rel="stylesheet" type="text/css" href="{% static 'components/icon.css' %} ">
	</head>

	<body>

		<div class="ui inverted menu">
			<div class="ui container">
				<a href="{% url 'index' %}" class="item">{% trans "Eleições" %}</a>
				<div class="ui simple dropdown item">
					{% trans "Candidatos" %}
					<i class="dropdown icon"></i>
					<div class="ui inverted menu">
						<a href="{% url 'candidatos_cargo' 'presidente' %}" class="item" >
							{% trans "Presidente" %}
						</a>

						<a href="{% url 'candidatos_cargo' 'governador' %}" class="item" >
							{% trans "Governador" %}
						</a>
					</div>
				</div>
				<a href="{% url 'listar_partidos' %}" class="item" >{% trans "Partidos" %}</a>
				<div class="ui simple dropdown item swing right">
					{% trans "Selecione o idioma" %}
					<i class="dropdown icon"></i>
					<div class="ui inverted menu">
						<a href="/pt/" class="item">
							<i class="brazil flag"></i> {% trans 'Português' %}
						</a>
						<a href="/en/" class="item">
							<i class="uk flag"></i> {% trans 'Inglês' %}
						</a>
					</div>
				</div>

			</div>
		</div>

		<div class="ui grid">
			<div class="fourteen wide centered column">
				{% block body_block %}


				{% endblock %}
			</div>

		</div>

		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<script src="{% static 'js/semantic.min.js' %}"></script>
		<script src="{% static 'js/app-django-jquery.js' %}"></script>

	</body>

</html>