{% extends 'candidatos/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - Candidatos em {{ local.nome_local }}
{% endblock %}

{% block body_block %}

	<div class="ui menu right vertical sidebar barra_lateral">
		{% for local in locais %}
			<a class="item" href="{% url 'candidatos_estado' local.abreviacao %}">{{ local.nome_local }}</a>
		{% endfor %}
	</div>

    {% if candidatos %}
		<div class="ui grid">
			<div class="twelve wide column">
				<div class="six column"></div>
					<div class="ui breadcrumb">
						<a class="section" href="{% url 'index' %}">Inicio</a>
						<div class="divider"> / </div>
						<a class="section">Candidatos</a>
						<div class="divider"> / </div>
						<div class="section">{{ cargo.desc_cargo }}</div>
						<div class="divider"> / </div>
						<div class="active section">{{ candidatos.0.local_eleicao }}</div>
					</div>
				</div>
				<div class="six column right floated">
					<button class="ui button botao">
					  Alterar estado
					</button>
				</div>
			</div>
			{% for candidato in candidatos %}
				<div class="ui segment">
					<a href="{% url 'detalhes_candidato' candidato.id %}"><h3>{{ candidato.nome_urna }}</h3></a>
					<br>Partido: {{ candidato.partido }}
					<br>Local de nascimento: {{ candidato.municipio }}
				</div>
			{% endfor %}

			<h3>{{ qtd_resultados }} candidatos a {{ cargo.desc_cargo }}</h3>
			<br><br>

		{% else %}
			<div class="ui negative message">
				<i class="close icon"></i>
				<div class="header">
					Não foi possivel encontrar o local solicitado.
				</div>
				<p>Tente outra vez!</p>
			</div>
		{% endif %}

{% endblock %}
