{% extends 'candidatos/base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title_block %}
    - {% trans 'Candidatos a' %} {{ cargo.desc_cargo }}
{% endblock %}

{% block body_block %}
	<div class="ui menu right vertical sidebar barra_lateral">
		{% for local in locais %}
			<a class="item" href="{% url 'candidatos_estado' local.abreviacao %}">{{ local.nome_local }}</a>
		{% endfor %}
	</div>

    {% if candidatos and cargo %}
		<div class="ui grid">
			<div class="twelve wide column">
				<div class="six column"></div>
					<div class="ui breadcrumb">
						<a class="section" href="{% url 'index' %}">{% trans 'Início' %}</a>
						<div class="divider"> / </div>
						<a class="section">{% trans 'Candidatos' %}</a>
						<div class="divider"> / </div>
						<div class="section">{{ cargo.desc_cargo }}</div>
						<div class="divider"> / </div>
						{% if qtd_resultados < 50 %}
							<div class="active section">{{ candidatos.0.local_eleicao }}</div>
						{% else %}
							<div class="active section">{% trans 'TODOS OS ESTADOS' %}</div>
						{% endif %}
					</div>
				</div>
				<div class="six column right floated">
					<button class="ui button botao">
						{% trans 'Alterar estado' %}
					</button>
				</div>
			</div>
			{% for candidato in candidatos %}
				<div class="ui segment">
					<a href="{% url 'detalhes_candidato' candidato.id %}"><h3>{{ candidato.nome_urna }}</h3></a>
					<br>{{ candidato.partido }}
				</div>
			{% endfor %}

			<h3>{{ qtd_resultados }} {% trans 'candidatos a' %} {{ cargo.desc_cargo }}</h3>
			<br><br>

		{% else %}
			<div class="ui negative message">
				<i class="close icon"></i>
				<div class="header">
					{% trans 'Houve um erro na solicitação.' %}
				</div>
				<p>{% trans 'Tente outra vez!' %}</p>
			</div>
		{% endif %}

{% endblock %}

