{% extends 'candidatos/base.html' %}
{% load staticfiles %}

{% block title_block %}
    - Partidos
{% endblock %}

{% block body_block %}

    <div class="row">
        <p><h1>Partidos politicos no Brasil</h1></p>
        <hr>
    </div>
    <div class="ui eight wide column">
        <div class="row">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sigla</th>
                        <th>Numero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for partido in partidos %}
                        <tr>
                            <td data-label="nome_partido">{{ partido.nome_partido }}</td>
                            <td data-label="sigla_partido">{{ partido.sigla_partido }}</td>
                            <td data-label="numero_partido">{{ partido.numero_partido }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
